<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg
      x="0"
      y="0"
      viewBox="0 0 2560 100"
      preserveAspectRatio="none"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4">
            <small>Sign up with</small>
          </div>
          <div class="text-center">
            <a href="{{ googleLoginUrl }}" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon">
                <img src="assets/img/icons/common/google.svg" />
              </span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <div *ngIf="invalidRegister" class="alert alert-danger">
            {{ error }}
          </div>
          <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <form #f="ngForm" (ngSubmit)="signUp(f)" *ngIf="!isLoading">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  ngModel
                  name="firstName"
                  class="form-control"
                  placeholder="First name *"
                  type="text"
                  required
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  ngModel
                  name="lastName"
                  class="form-control"
                  placeholder="Last name"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-email-83"></i>
                  </span>
                </div>
                <input
                  ngModel
                  name="email"
                  class="form-control"
                  placeholder="Email *"
                  type="email"
                  required
                  email
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span>
                </div>
                <input
                  class="form-control"
                  ngModel
                  name="phone"
                  placeholder="Phone"
                  type="text"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="ni ni-lock-circle-open"></i>
                  </span>
                </div>
                <input
                  class="form-control"
                  ngModel
                  name="password"
                  placeholder="Password *"
                  type="password"
                  required
                />
              </div>
            </div>
            <div class="text-muted font-italic">
              <small>
                password strength:
                <span class="text-success font-weight-700">strong</span>
              </small>
            </div>
            <div class="row my-4">
              <div class="col-12">
                <div
                  class="custom-control custom-control-alternative custom-checkbox"
                >
                  <input
                    class="custom-control-input"
                    id="customCheckRegister"
                    type="checkbox"
                  />
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">
                      I agree with the <a href="#!">Privacy Policy</a>
                    </span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-primary my-4"
                [disabled]="!f.valid"
              >
                Create account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
